@model MainUser
<center>
    <div class="card-obsh my-5" style="width:30%">
<h3>@Model.role</h3>
<h3>@Model.nickname</h3>
@{
    if (Model.isMe)
    {
        <h3>@Model.email</h3>
    }
}
<h2>@Model.meta.Name</h2>
<h3>@Model.meta.Description</h3>

@{
    if (Model.isMe)
    {
                <a class="btn btn-primary my-2" href=@($"{ORoutes.Controller}{ORoutes.ACreate}")>Новая организация</a>
    }
}

@{
    <h3>Владеет:</h3>
    foreach(var org in Model.ownedOrg)
    {
        <div class="card-obsh">
                <a class="btn btn-primary my-2" href=@org.url>@($"{org.name}  {org.nick}")</a>
        </div>
    }
    if (Model.isMe)
    {
        <h3>Руководит:</h3>
        foreach (var org in Model.adminedOrg)
        {
            <a class="btn btn-primary my-2" href=@org.url>@(
           $"{org.name}  {org.nick}"
           )</a>
        }

    }
    <h3>Состоит в:</h3>

    foreach (var org in Model.audiencedOrg)
    {
                <a class="btn btn-primary my-2" href=@org.url>@($"{org.name}  {org.nick}")</a>
    }
        }
    </div>
</center>